script(id='termline', type='text/x-handlebars-template')
	.lineitem
		.text {{term}}
		.icon.icon-chevron-right.icon-white

.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			.brand etymonline.com administration
			.nav.pull-right
				#createbtn.btn
					span.icon-plus-sign
					|  Create New Term
.container-fluid: div.row-fluid
	.span3
		#searchitems.well.sidebar-nav
			input(type='text', placeholder='search for a term...', name='searchinput').searchinput
			#searchbtn.btn.btn-primary.searchbtn
				span.icon-search.icon-white
				|  Search
			#searchlines

	#content.span9
		#notifier.alert.fade.in
			a.close.hideme ×
			span.msg Super Toll
		#termdetail.well
			h1 search for a term
				small
			.label.label-info.updated
			.detailedinfo
			
			#navarea
				#prevbtn.btn.btns: span.icon-chevron-left
				#nextbtn.btn.btns: span.icon-chevron-right
			#buttonarea
				#deletebtn.btn-danger.btn.btns
					span.icon-trash.icon-white
					|  Delete
				#editbtn.btn-primary.btn.btns
					span.icon-pencil.icon-white
					|  Edit
		

#modalform.modal.hide
	.modal-header
		a.close(data-dismiss='modal') ×
		h3 Term
	.modal-body.form-horizontal

		label Term
		input(type='text', name='term')

		label Term Suffix
		input(type='text', name='term_suffix')

		label Etym
		textarea(name='etym')
		| type <b>##</b> for <i>foreign</i>
		| &nbsp;&nbsp;&nbsp;&nbsp; type <b>$$</b> for <i>crossreference</i>

	.modal-footer
		#savebtn.btn.btn-primary
			span.icon-ok.icon-white
			|  Save Changes
		#cancelbtn.btn.btn-danger
			span.icon-remove.icon-white
			|  Cancel
		#templatebtn.btn.btn-info
			span.icon-file.icon-white
			|  Load Template

