!!!
html
  head
    title etymonline administration
    link(rel='stylesheet', href='/bscss/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    
    script(src='/js/tools/jquery.js')
    script(src='/js/tools/underscore-min.js')
    script(src='/js/tools/backbone-min.js')
    script(src='/bsjs/bootstrap.min.js')
    script(src='/js/tools/bootstrap-modal.js')
    
    script(src='/js/views.js')
    script(src='/js/main.js')
  body!= body