body,.modal-header{background:url("../img/bg-leather.jpg") repeat top left}
.well,#modalform{background:url("../img/paper.jpg") repeat top left}
#modalform{border:none;border-radius:0}
.modal-header h3,.modal-header .close{color:#f5f5f5}
#searchitems{margin-top:50px;min-height:300px;}
#searchitems input[type='text']{width:95%}
#searchitems #searchbtn{margin-bottom:10px}
#searchitems #searchlines .lineitem{cursor:pointer;height:26px;position:relative;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#searchitems #searchlines .lineitem .text{color:#5e0a0a;font-size:14px;position:absolute;top:3px;left:5px}
#searchitems #searchlines .lineitem .icon{position:absolute;top:6px;right:3px;display:none}
#searchitems #searchlines .lineitem:hover{background-color:#c6c6c0}
#searchitems #searchlines .lineitem.sel{background-color:#5e0a0a;}
#searchitems #searchlines .lineitem.sel .text{color:#fff}
#searchitems #searchlines .lineitem.sel .icon{display:block}
#content{margin-top:50px;}
#content #notifier{display:none;}
#content #notifier .type{font-weight:bold}
#content #notifier .msg{margin-left:5px}
#content #termdetail{min-height:300px;position:relative;}
#content #termdetail .updated{padding:3px;margin:5px 0;max-width:220px;display:none}
#content #termdetail .detailedinfo{overflow:hidden;padding-bottom:60px}
#content #termdetail #buttonarea,#content #termdetail #navarea{display:none;position:absolute;bottom:10px;}
#content #termdetail #buttonarea .btns,#content #termdetail #navarea .btns{margin-right:10px}
#content #termdetail #buttonarea{right:10px}
#content #termdetail #navarea{left:10px}
#modalform{width:600px;}
#modalform input[type='text'],#modalform textarea{width:560px;margin-bottom:10px}
#modalform textarea{height:180px;resize:none}
