body, .modal-header
	background url(../img/bg-leather.jpg) repeat top left

.well, #modalform
	background url(../img/paper.jpg) repeat top left

#modalform
	border none
	border-radius 0px
	
.modal-header
	h3, .close
		color #F5F5F5

#searchitems
	margin-top 50px
	min-height 300px
	input[type='text']
		width 95%
	#searchbtn
		margin-bottom 10px

#content
	margin-top 50px
	#notifier
		display: none
		.type
			font-weight bold
		.msg
			margin-left 5px
	#termdetail
		min-height 300px
		position relative
		.updated
			padding 3px
			margin 5px 0px
			max-width 220px
			display none
		.detailedinfo
			overflow hidden
			padding-bottom 60px
	
	
		#buttonarea, #navarea
			display none
			position absolute
			bottom 10px
			.btns
				margin-right 10px
		#buttonarea
			right 10px
		#navarea
			left 10px

#modalform
	width 600px
	input[type='text'], textarea
		width 400px
	textarea
		height 220px